#calculator {
	margin: auto;
  border: 2px solid black;
  height: 21.0625rem;
  width: 17.1875rem;
}
#container {
  display: flex;
  flex-flow: row wrap;
}
#display {
  border: 1px solid black;
  height: 4.6875rem;
  width: 100%;
  padding: 0.3125rem;
  font-size: 1.25rem;
  text-align: right;
  overflow-wrap: anywhere;
}
button {
  border: 1px solid black;
  height: 3.125rem;
  width: 25%;
  font-size: 1.875rem;
}
button:active {
  background-color: white;
}
.wide-button {
  width: 50%;
  background-color: pink;
}
